.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--grey-light-2);
  box-shadow: var(--shadow-dark);

  min-height: 50rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--grey-dark-1);

  flex: 0 0 18%;  // don't grow | don't shrink | take up 18% of space

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: var(--color-white);
  height: 80rem;

  flex: 1; // the "1" tells this div to grow to fill the maximum amount of space available
}