.logo {
  font-family: 'Montserrat Alternates', sans-serif;
  margin-left: 2rem;
  color: var(--color-primary);

  @media ONLY screen AND (max-width: $bp-smallest){
   font-size: 2.4rem;
  }
}

.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  @media ONLY screen AND (max-width: $bp-smallest){
    order: 1;
    flex: 0 0 100%;
    background-color: var(--grey-light-2);
  }
  @media ONLY screen AND (max-width: $bp-smallest){
    order: 1;
    flex: 0 0 100%;
    background-color: var(--grey-light-2);
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 80%;
    transition: all .2s;
    margin-right: -3.5rem;
  

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--grey-dark-1);
    }

    &__input:focus + &__button {
      background-color: var(--grey-light-3);
    }
  }

  &__button {
    border: none;
    background-color: var(--grey-light-2);
  }
      &:focus {
        outline: none;
      }

      &:active {
        transform: translateY(2px);
      }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--grey-dark-3);
  }  
}

.user-nav {
  align-self: stretch;

  display: flex;
  align-items: center;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--grey-dark-2);
    
  } 

  &__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-white);
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;;

    display: flex;
    justify-content: center;
    align-items: center;
  } 

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: .5rem;
  } 
}